<table>
  <tr>
    <th>状態</th>
    <th>書名</th>
    <th>分野</th>
    <th>最終更新</th>
    <th>編集</th>
  </tr>

  <% @books.each do |book| %>
  <tr>
    <td><%= book.study.status %></td>
    <td><%= book.title %></td>
    <td>
      <% book.categories.each_with_index do |category, idx| %>
        <%= "," if idx != 0 %>
        <%= category.name  %>
      <% end %>
    </td>
    <td><%= book.updated_at.to_s(:db) %></td>
    <td>edit / delete</td>
  </tr>
  <% end %>

  </tr>
</table>
